:root {
    --primary-light: rgba(251, 186, 65, 0.883);
    --primary-dark:rgba(1, 0, 82, 0.774);
    --dark:rgb(172, 69, 51);
    --light:rgba(255, 255, 255, 0.897);
    --shadow:0 1px 5px rgb(22, 12, 12);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--dark);
    font-family: 'Lato', sans-serif;
}

body {
    background: var(--primary-light);
}

.btn {
    background: var(--primary-dark);
    color: var(--primary-light);
    padding: 0.5rem 1.2rem;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contaier {
    display: grid;
    gap: 20px;
}

.main-nav ul {
    background: var(--light);
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav  a {
    background: var(--light);
    display: grid;
    text-decoration: none;
    padding: 0;
    text-align: center;
    color: var(--primary-dark);
    text-transform: uppercase;
    font-size: 1.2rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--primary-dark);
    color: var(--primary-light);
    transform: translateY(-2px);
}




